body {
    text-align: center;
    /* background: rgb(157,221,223); */
    background: radial-gradient(circle, rgb(159, 223, 209) 0%, rgb(107, 167, 154) 35%);
    /* background-color: #3B8EA5; */
    /* font-family: 'Source Code Pro', monospace; */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    width: 1em;
    height: 1em;
}

span {
    cursor: pointer;
}

#title {
    color:#F5EE9E;
    background-color: #801e15;
    font-size: 30px;
    padding: 6px 15px 6px 15px;
    border: 2px solid #F5EE9E;
    border-radius: 40px;
    box-shadow: 3px 3px 3px 3px rgba(128, 30, 21, 0.2);
}

#title2 {
    color: #801e15;
    background-color: #F5EE9E;
    font-size: 30px;
    padding: 6px 15px 6px 15px;
    border: 2px solid #F5EE9E;
    border-radius: 40px;
    box-shadow: 3px 3px 3px 3px rgba(128, 30, 21, 0.2);
}

#title:hover {
    box-shadow: 4px 8px 12px 6px rgba(128, 30, 21, 0.4);
    font-size: 31px;
}

#content {
    color: #801e15;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.btn {
    color: #F5EE9E;
    background-color: #801e15;
    font-size: 14px;
    padding: 3px 10px 8px 3px;
    border: 2px solid #F5EE9E;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(128, 30, 21, 0.8);
}

.btn:hover {
    box-shadow: 1px 13px 23px 1px rgba(128, 30, 21, 0.9);
    font-size: 14.5px;
}

#j {
    color: #F5EE9E;
    padding: 3px 15px 8px 3px !important;
}

#j:hover {
    box-shadow: 1px 13px 23px 1px rgba(128, 30, 21, 0.9);
    font-size: 14.5px;
}

h3 {
    color: darkgreen;
}

#comment-container {
    background-color: #F5EE9E;
    border: 2px solid #F5EE9E;
    border-radius: 40px;
    box-shadow: 0px 10px 20px 0px rgba(128, 30, 21, 0.8);
    padding: 3px;
    /* width: 30%;
    margin-left: 35%;
    margin-right: 35%; */
}

#random-topic {
    color: #F5EE9E;
    background-color: #801e15;
    font-size: 18px;
    padding: 4px 4px 4px 4px;
    border: 2px solid #F5EE9E;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(128, 30, 21, 0.8);
}

#random-topic:hover {
    box-shadow: 1px 13px 23px 1px rgba(128, 30, 21, 0.9);
    font-size: 18.5px;
}
