body {
    text-align: center;
    background-color: #3B8EA5;
}

header {
    font-family: Impact;
    font-size: x-large;
    background-color: #AB3428;
    color: #F5EE9E;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#content {
    position: absolute;
    top: 150px;
    color: #801e15;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    z-index: 10;
}

span {
    color: #F5EE9E;
    font-size: small;
    padding: 3px 10px 8px 3px;
    border: 2px solid #F5EE9E;
    border-radius: 4px;
}

#j {
    color: #F5EE9E;
    padding: 3px 15px 8px 3px !important;
}

h3 {
    color: darkgreen;
}